#slide-out{
    /* width : 15% !important; */
    height : 100% !important; 
    position :relative !important;
    /* top :  20%!important; */
    bottom : 0 !important;
    margin : 0 !important;
}

.sidebarItem {
    font-size: medium !important;
    font-weight: bold !important;
    color : white !important;
    padding : 10% !important;
}

.sidebarLinks {
    height : 50px !important;
    padding : 20px;
}

   