/* .logo-wrapper{
    margin:0;
    background : red;
    width : 250px;
    height : 147px;
    
} */

.topnav{
    height : 140px !important;
}
.uppernav{
    color : black !important;
    font-weight: bold;
}
nav .brand-logo{
    
    color :teal !important;
    font-weight: bold;
}
.logo{
    /* background-color: yellow; */
    margin-left : 30px;
    margin-top :10px;
    width : 300px;
    height : 130px;
    border-radius: 12px;;
}

.sub-heading{
    color : black;
    font-size: medium;
    
}
.header-right-content{

    background : yellow;
    float : right
}

.lightTheme{
    color : black !important;
    padding:3px !important;
}