.carousel .carousel-item{
    height : 1000px !important;
    visibility: visible !important;
}

/* TABS */

.tabs{
    background-color: #656565 !important;
    border-radius: 8px ;
    
}

.tab a.active {
    background-color: rgb(16, 172, 132) !important;
    color : white !important;

}

.tab a {
    color : white !important;

}

/* Business cards */

.overlined {
    text-decoration: line-through !important;
}

.bullets{
    list-style-type: disc !important;
    margin-left:1px;
}

/* Table */
/* .homeTable{
    color : red !important;
} */
