/* Dashboard Styles */
/* tabs */
.tabs{
    background-color: #656565 !important;
    border-radius: 8px ;
    
}

.tab a.active {
    background-color: rgb(16, 172, 132) !important;
    color : white !important;

}

.tab a {
    color : white !important;

}

/* Side bar */
.sidebar{
    margin: 0 !important;
    padding: 0 !important;
}

/* action icons */
.edit {
    color : blue !important;
    padding:3px !important;
}

.delete {
    color : red !important;
    padding:3px !important;
}

.description {
    color : rgb(184, 44, 67) !important;
    padding:3px !important;
}

.hideicon{
    color : #ff8f00 !important;
    padding:3px !important;
}

.modal {
    position: absolute!important;
    width: 30%!important;
    display: block!important;
    z-index: 1003 !important;
}
.modal-overlay{
    z-index: 1002 !important;
    display: block !important;
    opacity: 0.5!important;
}
.form-edit {
    padding: 0 10%;
}
.editbtn{
    margin: 0 15px 5px !important;
}
/* End of DashBoard Styles */

/* Additem */

form{
    margin-top : 20px !important;
    /* height : 400px !important; */
}
/* Add category form */
.addCategory{

    /* height: 300px !important; //not working */
}
/* Add Blog */

textarea {
    height: 200px!important;
}